#app {
    height: 640px;
}

.visual {
    position: relative;
    padding: 0 50px;
}

.visual .slide {
    height: 250px;
    width: 100%;
    background: url(../img/slide_three.jpg) no-repeat center;
    background-position-y: -550px;
}

.visual .title {
    width: 250px;
    text-align: center;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid white;
    font-weight: 600;
    color: white;
}

#app a.btn {
    display: inline-block;
    max-height: 80px;
    width: auto;
    padding: 20px 0 20px 1100px;
}

#app .table {
    margin: auto;
    width: 70%;
    height: 90%;
    max-height: 100%;
    /* padding-bottom: 10px; */
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    border-collapse: collapse;
}

#app .table-2 {
    margin: auto;
    width: 70%;
    height: 90%;
    max-height: 100%;
    /* padding-bottom: 10px; */
    /* border-top: 1px solid rgba(51, 51, 51, 0.3);
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    border-collapse: collapse; */
}

#app .table thead {
    line-height: 40px;
    font-size: 16px;
    background-color: #f5f5f7;
    text-align: center;
}

#app .table-2 thead {
    line-height: 40px;
    font-size: 16px;
    background-color: #f5f5f7;
    text-align: center;
}

#app .table thead th {
    text-align: center;
}


/* #app .table thead:after {
    content: '';
    position: absolute;
    display: block;
    width: 65.3%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

#app .table-2 thead:after {
    content: '';
    position: absolute;
    display: block;
    width: 65.3%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
} */

#app .table tbody {
    font-size: 14px;
    line-height: 25px;
    height: 1500px;
}

#app .table tbody th {
    height: 200px;
}

#app .table-2 tbody {
    font-size: 14px;
    line-height: 30px;
    height: 1500px;
}

#app .list {
    float: left;
    margin-left: 15%;
}

#app .editor {
    float: right;
    margin-right: 15%;
}

#reply {
    width: 82.5%;
    height: 250px;
    margin-top: 20px;
}

.upload {
    padding: 1px 6px;
    border: 1px solid rgb(51, 51, 51, 0.3);
    border-radius: 2px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 17.2%;
}

.replay {
    margin-left: 22%;
    display: inline-block;
    font-size: 16px;
}

form {
    margin-left: 15%;
}