.footer {
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 20%;
    background-color: #f5f5f7;
    border-top: 1px solid rgba(51, 51, 51, 0.2)
}

#footer {
    margin-right: 8%;
}

#footer>a {
    position: absolute;
    right: 15%;
    top: 0;
}

#footer .on {
    color: #f5f5f7;
}

#footer .on:hover {
    color: #333;
    font-weight: 300;
}

#footer>a>img {
    max-height: 35px;
    width: auto;
}

.footer img {
    display: inline-block;
    max-height: 80px;
    width: auto;
    padding-right: 30px;
    padding: 60px 0 26px;
}

#footer .hosName {
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    color: #1b1b1b;
    font-weight: 300;
    margin-left: -40px;
    margin-top: 3.8%;
}

#footer .hosName strong {
    padding-left: 85px;
    color: #dc5f0d;
}

#footer .hosName {
    position: absolute;
    display: inline-block;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    width: 200px;
}

#footer ul {
    margin-left: 8%;
}

.footer .nav li {
    display: inline-block;
    position: relative;
    padding: 0 15px;
}

.footer .nav li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 14px;
    background: #b2b2b2;
}

.footer .nav li:first-child:after {
    display: none;
}

.footer .nav li a {
    font-size: 13.5px;
    color: #333
}

.footer address {
    padding: 25px 0 0;
    margin-left: 8%;
    font-size: 13.5px;
    color: #666;
}

.footer address em {
    display: block;
    padding: 25px 0 0;
    font-size: 12.5;
    color: #999;
}