.visual {
    position: relative;
    /* padding: 0 50px; */
}

.visual .prev,
.visual .next {
    display: block;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 47px;
    transform: translate(-50%);
    color: transparent;
    background: url(./img/arrow.png) no-repeat;
}

.vusual .prev {
    left: 82px;
}

.visual.next {
    right: 82px;
}

.visual .control {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 100%;
    text-align: center;
}

.visual .control>div {
    display: inline-block;
    position: relative;
    padding: 0 45px 0 0;
}

.visual .control>div>div {
    position: absolute;
    right: 0;
}

.visual .control>div>div>a {
    overflow: hidden;
    display: inline-block;
    width: 8px;
    height: 9px;
}

.visual .control>div>div>a img {
    display: inline-block;
    max-height: 30px;
    width: auto;
    padding-right: 30px;
}

.visaul .control ul {
    display: inline-block;
    font-size: 0;
    position: relative;
    top: -7px;
}

.visual .control li {
    display: inline-block;
    padding: 0.3px;
}

.visual .control li .on a {
    background: #fff;
}

.visual .control li a {
    display: block;
    width: 50px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
}

.visual .control a {
    color: transparent;
}

.visual .con .slide {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
}

.visual .con .slide span {
    color: rgb(80, 10, 5);
}

.visual .con .slide .txt {
    position: relative;
    left: 1200px;
    top: 175px;
}

.visual .con .slide p {
    padding: 19px 0 0;
    line-height: 100%;
    font-size: 20px;
}


/* slide */

.slide {
    height: 640px;
    overflow: hidden;
}

.slide ul {
    width: calc(100% * 4);
    display: flex;
    animation: slide 12s infinite;
}


/* slide를 12초동안 진행하며 무한반복 함 */

.slide li {
    width: calc(100% / 4);
    height: 640px;
}

.slide li:nth-child(1) {
    background: url(../img/slide_one.jpg) no-repeat center;
}

.slide li:nth-child(2) {
    background: url(../img/slide_two.jpg) no-repeat center;
}

.slide li:nth-child(3) {
    background: url(../img/slide_three.jpg) no-repeat center;
}

.slide li:nth-child(4) {
    background: url(../img/slide_four.jpg) no-repeat center;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    /* 0 ~ 10  : 정지 */
    10% {
        margin-left: 0;
    }
    /* 10 ~ 25 : 변이 */
    25% {
        margin-left: -100%;
    }
    /* 25 ~ 35 : 정지 */
    35% {
        margin-left: -100%;
    }
    /* 35 ~ 50 : 변이 */
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    85% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}