.visual {
    position: relative;
    padding: 0 50px;
}

.visual .title {
    width: 250px;
    text-align: center;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid white;
    font-weight: 600;
    color: white;
}

.visual .con>div {
    height: 250px;
}

.visual .con .slide {
    background: url(../img/slide_four.jpg) no-repeat center;
    color: #333;
    background-position-y: -750px;
}

.visual .submenu .intro {
    background-color: wheat;
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    margin-left: 400px;
}

.visual .submenu .intro ul li {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 80px;
    text-align: center;
    content: '';
    border-left: 1px solid #666;
}