.visual {
    position: relative;
    padding: 0 50px;
}

.visual .con>div {
    height: 200px;
}

.visual .con .slide {
    background: url(../img/slide_one.jpg) no-repeat center;
    color: #333;
    font-size: 32px;
    line-height: 46px;
}

.visual .con .slide p {
    padding: 19px 0 0;
    line-height: 100%;
    font-size: 20px;
}

.visual .con .slide .txt {
    position: absolute;
    left: 1300px;
    top: 175px;
}

.visual .submenu .intro {
    background-color: wheat;
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    margin-left: 400px;
}

.visual .submenu .intro ul li {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 80px;
    text-align: center;
    content: '';
    border-left: 1px solid #666;
}