.visual {
    position: relative;
    padding: 0 50px;
}

.visual .title {
    width: 250px;
    text-align: center;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid white;
    font-weight: 600;
    color: white;
}

.visual .con>div {
    height: 250px;
}

.visual .con .slide {
    background: url(../img/slide_six.jpg) no-repeat center;
    color: #333;
    background-position-y: -610px;
}

#registerapp {
    height: 300px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid silver;
    border-bottom: 3px solid silver;
}

#login-form {
    width: 700px;
    margin: 50px auto;
    padding: 15px;
}

#login-form table {
    position: absolute;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;
}

#login-form tr th {
    /* background-color: skyblue; */
    font-size: 15px;
    padding: 5px 0 5px 0;
}

#login-form tr td {
    /* background-color: skyblue; */
    font-size: 15px;
    padding: 5px 0 5px 10px;
}

#login-form tr td.tabol {
    border: 1px solid;
}