<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form action="" method="POST" name="frm" @submit.prevent="addBoard">
            제목: <input type="text" id="title" v-model='title'><br> 내용:
            <textarea id="content" v-model='content'></textarea>

            <input type="submit" value="gg">
        </form>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    info: [],
                    title: '',
                    content: '',
                    loading: true,
                    errored: false
                }
            },
            methods: {
                addBoard() {
                    const board = {
                        bdTitle: this.title,
                        bdContent: this.content,
                        bdView: 0,
                        bdIsSecret: 0,
                        custId: '1111'
                    };
                    axios
                        .post("http://localhost:7000/mijung/addBoard/", board)
                        .then(() => {
                            alert("글쓰기 성공");
                            location.href = "./boardIndex.html";
                        })
                        .catch(e => {
                            console.log(e);
                            this.errored = true;
                        })
                        .finally(() => this.loading = false)
                }
            }
        });
    </script>
</body>

</html>