<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='./CSS/default.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
    <script src="./source/isLogin.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header include-html='./source/header.html'></header>
            <br><br><br><br><br>
            <section class='visual'>
                <div id="app">
                    <form action="" method="POST" name="frm" @submit.prevent="addBoard">
                        제목: <input type="text" id="title" v-model='title'><br> 내용:
                        <textarea id="content" v-model='content'></textarea> 비밀글
                        <input type="checkbox" id="secretKey" @click='check()' v-model="secretKey" checked="secretKey">
                        <input type="submit" value="등록">
                    </form>
                </div>
            </section>
            <footer include-html='./source/footer.html'></footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    title: '',
                    content: '',
                    bdIsSecret: 0,
                    secretKey: false,
                    loading: true,
                    errored: false
                }
            },
            methods: {
                addBoard() {
                    const board = {
                        bdTitle: this.title,
                        bdContent: this.content,
                        bdView: 0,
                        bdIsSecret: this.bdIsSecret,
                        custId: localStorage.getItem('animal_login')
                    };
                    axios
                        .post("http://localhost:7000/mijung/addBoard/", board)
                        .then(() => {
                            alert("글쓰기 성공");
                            location.href = "./boardIndex.html";
                        })
                        .catch(e => {
                            console.log(e);
                            this.errored = true;
                        })
                        .finally(() => this.loading = false)
                },
                check() {
                    let checked = document.getElementById('secretKey');
                    if (checked.checked) {
                        this.bdIsSecret = 1;
                    } else {
                        this.bdIsSecret = 0;
                    }
                }
            }
        });
    </script>
</body>
<script>
    includeHTML();
</script>

</html>