<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../css/default.css'>
    <link rel='stylesheet' href='../css/index.css'>
    <script src="../source/includeHTML.js"></script>
    <script src="../source/isLogin.js"></script>
</head>

<body>
    <header include-html='../source/header.html'></header>
    <br><br><br><br><br>
    <div id="app">
        <a href="./addBoard.html"><button v-if="loginId != null">글쓰기</button></a>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>답변여부</th>
                    <th>제목</th>
                    <th>글쓰니</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>

                <tr v-for='board in info'>
                    <td>{{board.bdID}}</td>
                    <td v-if="board.bdReply!=null">Y</td>
                    <td v-else>N</td>
                    <td v-if='isSecret(board)' @click="getBoard(board)">{{board.bdTitle}}**</td>
                    <td v-else @click="getBoard(board)">{{board.bdTitle}}</td>
                    <td>{{board.custId}}</td>
                    <td>{{board.bdDate}}</td>
                    <td>{{board.bdView}}</td><br>
                </tr>

            </tbody>
        </table>

    </div>
    <footer include-html='./source/footer.html'></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../WEB-INF/lib/includeHTML.js"></script>
    <script>
        includeHTML();
        isLogin();
        new Vue({
            el: "#app",
            data() {
                return {
                    info: [],
                    admin: 0,
                    loginId: null,
                    loading: true,
                    errored: false
                }
            },
            mounted() {
                this.loginId = localStorage.getItem('animal_login');
                this.admin = localStorage.getItem('animal_admin');
                axios
                    .get("http://localhost:7000/mijung/getAllBoard")
                    .then(response => {
                        this.info = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false);
            },
            methods: {
                getBoard(board) {
                    // 비밀글일 경우 작성자만 볼 수 있도록 해야함.
                    if (board.bdIsSecret === 1) {
                        if ((board.custId === this.loginId) || (localStorage.getItem('animal_admin') === '1')) {
                            location.href = "./boardDetail.html?bdID=" + board.bdID;
                            board.bdView += 1;
                            axios
                                .put("http://localhost:7000/mijung/updateBoard", board);
                        } else {
                            alert("작성자만 볼 수 있습니다. 로그인 하세요");
                            return;
                        }
                    } else {
                        location.href = "./boardDetail.html?bdID=" + board.bdID;
                        board.bdView += 1;
                        axios
                            .put("http://localhost:7000/mijung/updateBoard", board);
                    }
                },
                isSecret(board) {
                    if (board.bdIsSecret === 1) return true;
                    else return false;
                }
            },


        });
    </script>
</body>

</html>