<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='./CSS/default.css'>
    <link rel='stylesheet' href='./CSS/index.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
    <script src="./source/isLogin.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header include-html='./source/header.html'></header>
            <br><br><br><br><br>
            <section class=''>
                <div id="app">
                    <form action="" method="PUT" name="frm" @submit.prevent="updateBoard">
                        제목: <input type="text" id="title" v-model='info.bdTitle'><br> 내용:
                        <textarea id="content" v-model='info.bdContent'></textarea><br> 비밀글
                        <input type="checkbox" id="secretKey" @click='check()' v-model="secretKey" checked="secretKey">
                        <input type="submit" value="수정하기 ">
                    </form>
                </div>
            </section>
            <footer include-html='./source/footer.html'></footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js "></script>
    <script>
        new Vue({
            el: "#app ",
            data() {
                return {
                    info: null,
                    loading: true,
                    errored: false,
                    secretKey: false
                }
            },
            mounted() {
                let bdID = location.href.split('?')[1].split('=')[1];

                axios
                    .get("http://localhost:7000/mijung/getBoard/ " + bdID)
                    .then(response => {
                        this.info = response.data;
                        if (this.info.bdIsSecret == 1) {
                            this.secretKey = true;
                        } else {
                            this.secretKey = false;
                        }
                    })
                    .catch(e => {
                        console.log(e);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                updateBoard() {
                    const board = {
                        bdID: this.info.bdID,
                        bdTitle: this.info.bdTitle,
                        bdContent: this.info.bdContent,
                        bdIsSecret: this.info.bdIsSecret,
                    };
                    axios
                        .put("http://localhost:7000/mijung/updateBoard", board)
                        .then((response) => {
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true;
                        })
                        .finally(() => {
                            this.loading = false;
                            location.href = "./boardDetail.html?bdID=" + this.info.bdID;
                        })
                },
                check() {
                    let checked = document.getElementById('secretKey');
                    if (checked.checked) {
                        this.info.bdIsSecret = 1;
                    } else {
                        this.info.bdIsSecret = 0;
                    }
                }
            }
        });
    </script>
</body>
<script>
    includeHTML();
</script>

</html>