<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='./CSS/default.css'>
    <link rel='stylesheet' href='./CSS/boadrDatail.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
    <script src="./source/isLogin.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header include-html='./source/header.html'></header>
            <br><br><br><br><br>
            <section class='visual'>
                <div id="app">
                    <table>
                        <thead>
                            <th>제목</th>
                            <td>{{info.bdTitle}}</td>
                            <th>조회수</th>
                            <td>{{info.bdView}}</td>
                        </thead>

                    </table>
                    내용<br>
                    <span cols="50" rows="10" border='1'>{{info.bdContent}}</span><br>
                    <div v-if='checkWriter()'>
                        <button @click='updateBoard'>수정하기</button><br>
                        <button @click='deleteteBoard'>삭제하기</button><br>
                    </div>
                    <br>
                    <div v-if='checkReply()'>
                        댓글달기
                        <form method="POST" name="frm" @submit.prevent="addReply">
                            <textarea id="reply" v-model="reply"></textarea>
                            <input type="submit" value="확인">
                        </form>
                    </div>
                    <div v-if="info.bdReply != null">
                        답변 {{info.bdReply}}
                    </div>
                </div>
            </section>
            <footer include-html='./source/footer.html'></footer>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data() {
                    return {
                        info: null,
                        reply: '',
                        loading: true,
                        errored: false
                    }
                },
                mounted() {
                    let bdID = location.href.split('?')[1].split('=')[1];

                    axios
                        .get("http://localhost:7000/mijung/getBoard/" + bdID)
                        .then(response => {
                            this.info = response.data;
                        })
                        .catch(e => {
                            console.log(e);
                            this.errored = true;
                        })
                        .finally(() => this.loading = false)
                },
                methods: {
                    updateBoard() {
                        location.href = "./boardUpdate.html?bdID=" + app.info.bdID;
                    },
                    addReply() {
                        const board = {
                            bdReply: this.reply,
                            bdID: this.info.bdID,
                        };

                        axios
                            .put("http://localhost:7000/mijung/replyBoard", board)
                            .then(() => {

                            })
                            .catch(e => {
                                console.log(e);
                                this.errored = true;
                            })
                            .finally(() => {
                                this.info.bdReply = this.reply;
                                this.loading = false;
                                // location.reload();
                            })
                    },
                    deleteteBoard() {
                        axios
                            .delete("http://localhost:7000/mijung/deleteBoard/" + app.info.bdID)
                            .then(() => {
                                alert("삭제 성공");
                                location.href = './boardIndex.html';
                            })
                            .catch(e => {
                                console.log(e);
                                this.errored = true;
                            })
                            .finally(() => {
                                this.loading = false;
                            })
                    },
                    checkWriter() {
                        if (this.info.custId === localStorage.getItem('animal_login')) return true;
                        else return false;
                    },
                    checkReply() {
                        // admin만 가능, 답글이 없어야 가능
                        if (localStorage.getItem('animal_admin') === '1') {
                            if (this.info.bdReply === null) {
                                return true;
                            }
                        }
                        return false;
                    }
                }
            });
        </script>
</body>
<script>
    includeHTML();
</script>

</html>