<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image⁄x-icon" href="img/logo2.png">
    <title>왜 미정이네?</title>
    <link rel='stylesheet' href='./CSS/chart.css'>
    <link rel='stylesheet' href='./CSS/header.css'>
    <link rel='stylesheet' href='./CSS/default.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://rawgit.com/beaver71/Chart.PieceLabel.js/master/build/Chart.PieceLabel.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header>

                <!-- 로고 부분 -->
                <div class='header-left'>
                    <a href=' index.html'>
                        <img src='img/logo2.png ' alt='logo '>
                        <span>미정이네<br>
                        <strong>동물병원</strong></span>
                    </a>
                </div>
                <!-- 메뉴 부분 -->
                <div class='header-center '>
                    <ul class=''>
                        <li class=''>
                            <a href='intro.html'>
                                <span>병원소개</span>
                                <!-- <ul class=''>
                                    <li class=''><a href=''>나와라</a></li>
                                    <li class=''><a href=''>나와라</a></li>
                                    <li class=''><a href=''>나와라</a></li>
                                </ul> -->

                            </a>
                        </li>
                        <li class=' '>
                            <a href='index_rev1.html'>
                                <span>진료예약</span>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='boardIndex.html'>
                                <span>Q & A</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 로그인 부분 -->
                <div class='header-right' id='app'>
                    <ul class=' ' v-if="!isLogin">
                        <li class=' '>
                            <a href='login.html'>
                                <h2>로그인</h2>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='register.html'>
                                <h2>회원가입</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class=' ' v-if="isLogin">
                        <li class=' '>
                            <a href="#" @click="logout">
                                <h2>로그아웃</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 0">
                            <a href='mypage.html'>
                                <h2>마이페이지</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 1">
                            <a href='Adminpage.html'>
                                <h2>관리자페이지</h2>
                            </a>
                        </li>
                    </ul>
                </div>


            </header>
            <br><br><br>


            <section class='visual'>

                <!-- advertise -->
                <div class='con'>
                    <div class='slide'>
                        <div class='title'>
                            <span>병원소개</span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class='submenu'>
                    <div class='intro'>
                        <ul>
                            <li><a href='chart.html'>왜 미정이네?</a></li>
                            <!-- <li>|</li> -->
                            <li><a href='intro.html'>의료진 소개</a></li>
                            <!-- <li>|</li> -->
                            <li><a href='intro2.html'>진료 과목</a></li>
                            <!-- <li>|</li> -->
                            <li><a href='intro3.html'>찾아오시는 길</a></li>
                            <!-- <li>|</li> -->
                        </ul>
                    </div>
                </div>
                <div class='chart'>
                    <br><br><br>
                    <div>
                        <h1>
                            <p>늘어나는 반려동물 양육가구!</p>
                        </h1>
                        <br><br>
                        <div class='myChart'>
                            <canvas id="myChart" width="500" height="400"></canvas>
                            <span>출처 : 검역본부</span>
                            <script>
                                var ctx = document.getElementById('myChart');
                                var myChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: ['2010년', '2012년', '2015년', '2017년', '2018년', '2019년'],
                                        datasets: [{
                                            label: '양육가구 비율(단위:%)',
                                            data: [17.4, 17.9, 21.8, 28.1, 23.7, 26.4],
                                            backgroundColor: [

                                                'rgba(220, 95, 13, 0.8)'


                                            ],
                                            borderColor: [
                                                'rgba(220, 95, 13, 1)'
                                            ],
                                            borderWidth: 2
                                        }]
                                    },
                                    options: {
                                        title: {
                                            display: true,
                                            text: '우리나라 반려동물 양육가구 비율',
                                            fontSize: 18,
                                            fontStyle: 'bold',
                                            fontColor: '#333'
                                        },
                                        legend: {
                                            position: 'bottom'
                                        },
                                        responsive: false,
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: false
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <br><br><br>
                        <h1>
                            <p>하지만, 반려동물을 <span>제대로 케어해주는 동물병원</span>은 턱없이 부족합니다.</p>
                        </h1>
                        <br><br><br>
                        <div class='MyDoughnutChart'>
                            <canvas id="MyDoughnutChart" width="500" height="400"></canvas>
                            <span>출처 : 한국소비자연맹</span>
                            <script>
                                var dtx = document.getElementById('MyDoughnutChart');
                                data = {
                                    labels: ['상해', '서비스 불만', '가격', '분실', '기타'],

                                    datasets: [{
                                        data: [56.4, 24.7, 3.5, 2.8, 12.6],
                                        backgroundColor: [
                                            "#c0504e",
                                            "#f79546",
                                            "#9bba57",
                                            "#4f81bb",
                                            "rgba(51, 51, 51, 0.1)"
                                        ],
                                        borderWidth: 1,
                                        borderColor: 'rgba(255, 255, 255, 0.5)'

                                    }]
                                }
                                var myDoughnutChart = new Chart(dtx, {
                                    type: 'pie',
                                    data: data,
                                    options: {
                                        title: {
                                            display: true,
                                            text: '반려동물 서비스 관련 소비자 불만',
                                            fontSize: 18,
                                            fontStyle: 'bold',
                                            fontColor: '#333'
                                        },
                                        legend: {

                                            display: false

                                        },
                                        pieceLabel: {
                                            render: function(args) {
                                                const label = args.label,
                                                    value = args.value,
                                                    percentage = args.percentage;
                                                return label + " " + value;
                                            },
                                            fontColor: '#333',
                                            fontSize: 15,
                                            fontStyle: 'bold',

                                            position: 'outside',
                                            segment: false
                                        },
                                        responsive: false
                                    }
                                });
                            </script>
                        </div>
                        <br><br>
                        <h1>
                            <p>미정이네 동물병원은 <span>최고의 실력</span>을 갖춘 의료진이 예약제 시스템으로 <br>원장마다 하루 한 건만을 진료함으로써 <span>최고의 의료서비스</span>를 제공합니다.</p>
                        </h1>
                        <br><br>
                        <div class='charimg'>
                            <img src='https://www.insidedogsworld.com/wp-content/uploads/2016/09/DogsAreBeautiful.jpg' width="600" height="400">
                        </div>
                        <br><br>
                        <h1>
                            <p>미정이네 동물병원에서 당신의 <span>반려동물을 위한 완벽한 케어</span>를 경험해보세요!</p>
                        </h1>


                    </div>
                    <footer include-html='./source/footer.html'></footer>
                </div>
        </div>


    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                isLogin: false,
            },
            mounted() {
                if (localStorage.getItem("animal_login") != null) {
                    this.isLogin = true;
                }
            },
            methods: {
                logout() {
                    let con_logout = confirm("로그아웃 하시겠습니까");
                    if (con_logout) {
                        localStorage.removeItem("info");
                        localStorage.removeItem("animal_name");
                        localStorage.removeItem("animal_login");
                        localStorage.removeItem("animal_admin");
                        localStorage.removeItem("onceRev");
                        location.reload(true);
                    }
                }
            }
        });
        new Vue({
            el: "#doctors",
            data: {
                doctor: 0
            },
            methods: {
                onclick(doctor) {
                    this.doctor = doctor;
                }
            }
        });
    </script>
</body>
<script>
    includeHTML();
</script>


</html>