<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image⁄x-icon" href="img/logo2.png">
    <title>아이디/비밀번호찾기</title>
    <link rel='stylesheet' href='./CSS/findidpw.css'>
    <link rel='stylesheet' href='./CSS/default_copy.css'>
    <link rel='stylesheet' href='./CSS/header.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header class="header">
                <!-- 로고 부분 -->
                <div class='header-left'>
                    <a href=' index.html'>
                        <img src='img/logo2.png ' alt='logo '>
                        <span>미정이네<br>
                        <strong>동물병원</strong></span>
                    </a>
                </div>
                <!-- 메뉴 부분 -->
                <div class='header-center '>
                    <ul class=''>
                        <li class=''>
                            <a href='chart.html'>
                                <span>병원소개</span>
                                <!-- <ul class=''>
                        <li class=''><a href=''>나와라</a></li>
                        <li class=''><a href=''>나와라</a></li>
                        <li class=''><a href=''>나와라</a></li>
                    </ul> -->
                            </a>
                        </li>
                        <li class=' '>
                            <a href='index_rev1.html'>
                                <span>진료예약</span>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='boardIndex.html'>
                                <span>Q & A</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 로그인 부분 -->
                <div class='header-right' id='loginapp'>
                    <ul class=' ' v-if="!isLogin">
                        <li class=' '>
                            <a href='login.html'>
                                <h2>로그인</h2>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='register.html'>
                                <h2>회원가입</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class=' ' v-if="isLogin">
                        <li class=' '>
                            <a href="#" @click="logout">
                                <h2>로그아웃</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 0">
                            <a href='mypage.html'>
                                <h2>마이페이지</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 1">
                            <a href='Adminpage.html'>
                                <h2>관리자페이지</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <br><br><br><br><br>
            <section class='visual'>
                <div class='con'>
                    <div class='slide'>
                        <div class='title'>
                            <span>?</span>
                        </div>
                    </div>
                </div>
                <section class="container">
                    <article class="half">
                        <h1>아이디 찾기</h1>
                        <div class="tabs">

                        </div>
                        <div class="content" id="findIdForm">
                            <div class="signin-cont cont">
                                <form action="#" method="post" enctype="multipart/form-data" @submit.prevent="findId">
                                    Name<input type="text" name="custNameId" v-model="custNameId" id="custNameId" v-model="custNameId" class="inpt" required="required" placeholder="이름을 입력해주세요"><br> Phone Number<input type="text" name="custPhoneId" id="custPhoneId"
                                        v-model="custPhoneId" class="inpt" required="required" placeholder="핸드폰 번호를 입력해주세요">
                                    <span v-if="!resultId==''">고객님의 아이디는 {{resultId}} 입니다.</span>
                                    <span v-if="resultIdFail" style="color: red;">가입된 정보가 없습니다.</span>
                                    <div class="submit-wrap">
                                        <input type="submit" value="Find ID" class="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                    <article id="findPwForm" class="half2">
                        <div v-if="!isTrue">
                            <h1>비밀번호 찾기</h1>
                            <div class="tabs">
                            </div>
                            <div class="content">
                                <div class="signin-cont cont">
                                    <form action="#" method="post" enctype="multipart/form-data" @submit.prevent="findPw">
                                        ID<input type="email" name="custIdPw" v-model="custIdPw" id="custIdPw" v-model="custIdPw" class="inpt" required="required" placeholder="이메일을 입력해주세요"> Name
                                        <input type="text" name="custNamePw" id="custNamePw" v-model="custNamePw" class="inpt" required="required" placeholder="이름을 입력해주세요"> Phone Number<input type="text" name="custPhonePw" id="custPhonePw" v-model="custPhonePw"
                                            class="inpt" required="required" placeholder="핸드폰 번호를 입력해주세요">
                                        <div class="submit-wrap">
                                            <input type="submit" @click="pwCheck()" value="Reset Password" class="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div v-if="isTrue">
                            <h1>비밀번호 재설정</h1>
                            <div class=" tabs ">

                            </div>
                            <div class="content">
                                <div class="signin-cont cont">
                                    <form action="#" method="post" enctype="multipart/form-data" @submit.prevent="changePw">
                                        New Password<input type="password" name="custPassword1" v-model="custPassword1" id="custPassword1" class="inpt" required="required" placeholder="새로운 비밀번호를 입력해주세요"> New Password Confirm<input type="password" name="custPassword2"
                                            id="custPassword2" v-model="custPassword2" @keyup="pwCheck" class="inpt" required="required" placeholder="다시 한번 입력해주세요">
                                        <span style="color: red;" v-if="!custPwCheck">위 비밀번호와 일치하지 않습니다.</span>
                                        <span style="color: blue;" v-if="custPwCheck && custPassword1 != '' && custPassword2 != ''">위 비밀번호와 일치합니다.</span>
                                        <div class="submit-wrap">
                                            <input type="submit" class="submit" value="Reset Password">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </section>
            </section>
            <footer include-html='./source/footer.html'>
            </footer>
            <!-- <div id="app ">
                <div id="findIdForm ">
                    <form action="# " method="POST " @submit.prevent="findId ">
                        <table>
                            <tr>
                                <td colspan="2 " style="height: 50px; text-align: center; ">
                                    <h2>아이디 찾기</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><input type="text " id="custNameId " name="custNameId " v-model="custNameId "></td>
                            </tr>
                            <tr>
                                <td>전화번호</td>
                                <td><input type="text " id="custPhoneId " name="custPhoneId " v-model="custPhoneId "></td>
                            </tr>
                            <tr>
                                <td colspan="2 " style="height: 50px; text-align: center; ">
                                    <button type="submit ">아이디 확인</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="findPwForm ">
                    <form action="# " method="POST " @submit.prevent="findPw ">
                        <table>
                            <tr>
                                <td colspan="2 " style="height: 50px; text-align: center; ">
                                    <h2>비밀번호 찾기</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>아이디</td>
                                <td><input type="text " id="custIdPw " name="custIdPw " v-model="custIdPw "></td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><input type="text " id="custNamePw " name="custNamePw " v-model="custNamePw "></td>
                            </tr>
                            <tr>
                                <td>전화번호</td>
                                <td><input type="text " id="custPhonePw " name="custPhonePw " v-model="custPhonePw "></td>
                            </tr>
                            <tr>
                                <td colspan="2 " style="height: 50px; text-align: center; ">
                                    <button type="submit ">비밀번호 확인</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form action=# method="POST " @submit.prevent="changePw " v-if="isTrue ">
                        <input type="hidden " name="_method " value="PUT " />
                        <table>
                            <tr>
                                <td>새 비밀번호</td>
                                <td><input type="password " id="custPassword1 " name="custPassword1 " v-model="custPassword1 "></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="password " id="custPassword2 " name="custPassword2 " v-model="custPassword2 " @keyup="pwCheck "></td>
                            </tr>
                            <tr>
                                <td colspan="2 " style="height: 50px; text-align: center; ">
                                    <span v-if="!custPwCheck ">위 비밀번호와 일치하지 않습니다.</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2 " style="height: 50px; text-align: center; ">
                                    <button type="submit " :disabled="!custPwCheck||custPassword2=='' ">비밀번호 변경</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
    <script>
        let navapp = new Vue({
            el: "#loginapp ",
            data: {
                isLogin: false
            },
            mounted() {
                if (localStorage.getItem("animal_login ") != null) {
                    this.isLogin = true;
                }
            },
            methods: {
                logout() {
                    let con_logout = confirm("로그아웃 하시겠습니까 ");
                    if (con_logout) {
                        localStorage.removeItem("info ");
                        localStorage.removeItem("animal_name ");
                        localStorage.removeItem("animal_login ");
                        localStorage.removeItem("animal_admin ");
                        localStorage.removeItem("onceRev");
                        location.href = "index.html ";
                    }
                }
            }
        });
        let appId = new Vue({
            el: "#findIdForm ",
            data() {
                return {
                    custNameId: '',
                    custPhoneId: '',
                    resultId: '',
                    errored: false,
                    resultIdFail: false
                }
            },
            methods: {
                findId() {
                    axios
                        .get("http://localhost:7000/mijung/findId/" + this.custNameId + "/" + this.custPhoneId)
                        .then(response => {
                            if (response.data == "") {
                                this.resultIdFail = true
                                this.resultId = ''
                            } else {
                                console.log(response.data);
                                this.resultId = response.data.custId;
                                this.resultIdFail = false
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true

                        })
                }
            }
        });
        let appPw = new Vue({
            el: "#findPwForm ",
            data() {
                return {
                    custIdPw: '',
                    custNamePw: '',
                    custPhonePw: '',
                    custPassword1: '',
                    custPassword2: '',
                    isTrue: false,
                    custPwCheck: true
                }
            },
            methods: {
                findPw() {
                    axios
                        .get("http://localhost:7000/mijung/findPassword/" + this.custIdPw + "/" + this.custNamePw + "/" + this.custPhonePw)
                        .then(response => {
                            if (response.data == "") {
                                return alert("가입된 정보가 없습니다.");
                            } else {
                                this.isTrue = true;
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)
                },
                pwCheck() {
                    if (this.custPassword1 != this.custPassword2) {
                        this.custPwCheck = false;
                    } else {
                        this.custPwCheck = true;
                    }
                },
                changePw() {
                    axios
                        .put("http://localhost:7000/mijung/changePassword/" + this.custIdPw + "/" + this.custPassword1)
                        .then(response => {
                            if (!this.custPwCheck) {
                                return alert("비밀번호가 일치하지 않습니다.");
                            } else {
                                alert("비밀번호가 정상적으로 변경되었습니다.");
                                location.href = "login.html ";
                            }
                        })
                        // .then(response => {
                        //     alert("비밀번호가 변경되었습니다. 로그인하세요. ");
                        //     location.href = "login.html ";
                        // })
                        .catch(error => {
                            console.log(error);
                        })

                }

            }
        });
    </script>
</body>
<script>
    includeHTML();
</script>

</html>