<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <div id="findIdForm">
            <form action="#" method="POST" @submit.prevent="findId">
                <table>
                    <tr>
                        <td colspan="2" style="height: 50px; text-align: center;">아이디 찾기</td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" id="custNameId" name="custNameId" v-model="custNameId"></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" id="custPhoneId" name="custPhoneId" v-model="custPhoneId"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 50px; text-align: center;">
                            <button type="submit">아이디 확인</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="findPwForm">
            <form action="#" method="POST" @submit.prevent="findPw">
                <table>
                    <tr>
                        <td colspan="2" style="height: 50px; text-align: center;">비밀번호 찾기</td>
                    </tr>
                    <tr>
                        <td>아이디</td>
                        <td><input type="text" id="custIdPw" name="custIdPw" v-model="custIdPw"></td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" id="custNamePw" name="custNamePw" v-model="custNamePw"></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" id="custPhonePw" name="custPhonePw" v-model="custPhonePw"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 50px; text-align: center;">
                            <button type="submit">비밀번호 확인</button>
                        </td>
                    </tr>
                </table>
            </form>
            <form action=# method="POST" @submit.prevent="changePw" v-if="isTrue">
                <input type="hidden" name="_method" value="PUT" />
                <table>
                    <tr>
                        <td>새 비밀번호</td>
                        <td><input type="text" id="custPw" name="custPw" v-model="custPw"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 50px; text-align: center;">
                            <button type="submit">비밀번호 변경</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script>
        let appId = new Vue({
            el: "#findIdForm",
            data() {
                return {
                    custNameId: '',
                    custPhoneId: '',
                    resultId: ''
                }
            },
            methods: {
                findId() {
                    axios
                        .get("http://localhost:7000/mijung/findId/" + this.custNameId + "/" + this.custPhoneId)
                        .then(response => (this.resultId = response.data))
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)
                }
            }
        });
        let appPw = new Vue({
            el: "#findPwForm",
            data() {
                return {
                    custIdPw: '',
                    custNamePw: '',
                    custPhonePw: '',
                    custPw: '',
                    isTrue: false
                }
            },
            methods: {
                findPw() {
                    axios
                        .get("http://localhost:7000/mijung/findPassword/" + this.custIdPw + "/" + this.custNamePw + "/" + this.custPhonePw)
                        .then(response => {
                            if (response.data == "") {
                                alert("입력값을 확인하세요");
                            } else {
                                this.isTrue = true;
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)
                },
                changePw() {
                    axios
                        .put("http://localhost:7000/mijung/changePassword/" + this.custIdPw + "/" + this.custPw)
                        .then(response => {
                            console.log(response)
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)
                }

            }
        });
    </script>
</body>

</html>