<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='./WEB-INF/lib/main.js'></script>
    <link href='./WEB-INF/lib/main.css' rel='stylesheet' />
    <link rel='stylesheet' href='./CSS/rev_css.css'>
    <link rel='stylesheet' href='./CSS/default_copy.css'>
    <link rel='stylesheet' href='./CSS/intro.css'>
    <link rel='stylesheet' href='./CSS/header.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header class="header">
                <!-- 로고 부분 -->
                <div class='header-left'>
                    <a href=' index.html'>
                        <img src='img/logo.png ' alt='logo '>
                    </a>
                </div>
                <!-- 메뉴 부분 -->
                <div class='header-center '>
                    <ul class=''>
                        <li class=''>
                            <a href='intro.html'>
                                <span>병원소개</span>
                                <!-- <ul class=''>
                        <li class=''><a href=''>나와라</a></li>
                        <li class=''><a href=''>나와라</a></li>
                        <li class=''><a href=''>나와라</a></li>
                    </ul> -->
                            </a>
                        </li>
                        <li class=' '>
                            <a href='index_rev1.html'>
                                <span>진료예약</span>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='boardIndex.html'>
                                <span>Q & A</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 로그인 부분 -->
                <div class='header-right' id='loginapp'>
                    <ul class=' ' v-if="!isLogin">
                        <li class=' '>
                            <a href='login.html'>
                                <h2>로그인</h2>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='register.html'>
                                <h2>회원가입</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class=' ' v-if="isLogin">
                        <li class=' '>
                            <a href="#" @click="logout">
                                <h2>로그아웃</h2>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='mypage.html'>
                                <h2>마이페이지</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <br><br><br><br><br>
            <div id="app">
                <div id="findIdForm">
                    <form action="#" method="POST" @submit.prevent="findId">
                        <table>
                            <tr>
                                <td colspan="2" style="height: 50px; text-align: center;">
                                    <h2>아이디 찾기</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><input type="text" id="custNameId" name="custNameId" v-model="custNameId"></td>
                            </tr>
                            <tr>
                                <td>전화번호</td>
                                <td><input type="text" id="custPhoneId" name="custPhoneId" v-model="custPhoneId"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 50px; text-align: center;">
                                    <button type="submit">아이디 확인</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="findPwForm">
                    <form action="#" method="POST" @submit.prevent="findPw">
                        <table>
                            <tr>
                                <td colspan="2" style="height: 50px; text-align: center;">
                                    <h2>비밀번호 찾기</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>아이디</td>
                                <td><input type="text" id="custIdPw" name="custIdPw" v-model="custIdPw"></td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><input type="text" id="custNamePw" name="custNamePw" v-model="custNamePw"></td>
                            </tr>
                            <tr>
                                <td>전화번호</td>
                                <td><input type="text" id="custPhonePw" name="custPhonePw" v-model="custPhonePw"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 50px; text-align: center;">
                                    <button type="submit">비밀번호 확인</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form action=# method="POST" @submit.prevent="changePw" v-if="isTrue">
                        <input type="hidden" name="_method" value="PUT" />
                        <table>
                            <tr>
                                <td>새 비밀번호</td>
                                <td><input type="password" id="custPassword1" name="custPassword1" v-model="custPassword1"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="password" id="custPassword2" name="custPassword2" v-model="custPassword2" @keyup="pwCheck"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 50px; text-align: center;">
                                    <span v-if="!custPwCheck">위 비밀번호와 일치하지 않습니다.</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 50px; text-align: center;">
                                    <button type="submit">비밀번호 변경</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <footer include-html='./source/footer.html'>
            </footer>
        </div>
    </div>
    <script>
        let navapp = new Vue({
            el: "#loginapp",
            data: {
                isLogin: false
            },
            mounted() {
                if (localStorage.getItem("animal_login") != null) {
                    this.isLogin = true;
                }
            },
            methods: {
                logout() {
                    let con_logout = confirm("로그아웃 하시겠습니까");
                    if (con_logout) {
                        localStorage.removeItem("animal_login");
                        localStorage.removeItem("animal_admin");
                        location.href = "index.html";
                    }
                }
            }
        });
        let appId = new Vue({
            el: "#findIdForm",
            data() {
                return {
                    custNameId: '',
                    custPhoneId: '',
                    resultId: ''
                }
            },
            methods: {
                findId() {
                    axios
                        .get("http://localhost:7000/mijung/findId/" + this.custNameId + "/" + this.custPhoneId)
                        .then(response => (this.resultId = response.data))
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)
                }
            }
        });
        let appPw = new Vue({
            el: "#findPwForm",
            data() {
                return {
                    custIdPw: '',
                    custNamePw: '',
                    custPhonePw: '',
                    custPassword1: '',
                    custPassword2: '',
                    isTrue: false,
                    custPwCheck: true
                }
            },
            methods: {
                findPw() {
                    axios
                        .get("http://localhost:7000/mijung/findPassword/" + this.custIdPw + "/" + this.custNamePw + "/" + this.custPhonePw)
                        .then(response => {
                            if (response.data == "") {
                                alert("입력값을 확인하세요");
                            } else {
                                this.isTrue = true;
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)
                },
                pwCheck() {
                    console.log("aa");
                    if (this.custPassword1 != this.custPassword2) {
                        this.custPwCheck = false;
                    } else {
                        this.custPwCheck = true;
                    }
                },
                changePw() {
                    axios
                        .put("http://localhost:7000/mijung/changePassword/" + this.custIdPw + "/" + this.custPassword1)
                        .then(response => {
                            alert("비밀번호가 변경되었습니다. 로그인하세요.");
                            location.href = "login.html";
                        })
                        .catch(error => {
                            console.log(error);
                            this.errored = true
                        })
                        .finally(() => this.empEmpty = false)

                }

            }
        });
    </script>
</body>

</html>