@charset "utf-8";
.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9)
}

.header-left {
    float: left;
    width: 30%
}

.header-center {
    float: left;
    width: 40%
}

.header-right {
    float: right;
    width: 30%
}


/* header-center */

.header-center ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255)
}

.header-center ul:after {
    content: '';
    display: block;
    clear: both;
}

.header-center ul li {
    float: left;
    position: relative;
}

.header-center ul li a {
    display: block;
    color: #333;
    text-align: left;
    padding: 14px 80px;
    text-decoration: none;
}

.header-center .dropdown-menu li {
    padding: 0;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center
}

.header-center ul li a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
}

.header-center ul li a:hover.active {
    background-color: #d1d1d1;
}


/* header logo */

.header-logo {
    padding-left: 30px;
    overflow: hidden;
    margin: 20px 0
}

.header-logo a {
    float: left;
    height: 35px
}

.header-logo span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #1b1b1b;
    font-weight: 300;
}

.header-logo span strong {
    color: #dc5f0d;
}

.header-logo img {
    display: block;
    max-height: 35px;
    width: auto;
    padding-right: 30px;
}


/* fix-navi */

.fix-navi {
    position: fixed;
    bottom: 147px;
    right: 20px;
    z-index: 999
}

.fix-navi ul {
    margin: 0
}

.fix-navi ul li {
    margin-top: 5px
}

.fix-navi ul li a {
    display: block;
    width: 120px;
    height: 60px;
    text-align: center;
    background: #363636;
    color: #fff;
}


/* fix-navi text align */

.fix-navi ul li a i {
    line-height: 30px;
    font-size: 22px;
}

.fix-navi ul li a span {
    display: block;
    line-height: 60px;
    font-size: 15px
}


/* header-right */

.header-login ul {
    display: flex;
    float: right;
    list-style-type: none;
    padding-right: 20px;
}

.header-login ul li a {
    display: block;
    width: 65px;
    height: 50px;
    padding-top: 18px;
    font-size: 12px;
    text-align: center;
    color: #5d3d0c
}

.header-login ul li:last-child>a {
    border-right: 0 none
}

.header-login ul li>a i {
    display: block;
    margin-bottom: 2px;
    font-size: 18px
}

.header-login ul li>a span {
    font-size: 15px
}

.header-login ul li>a:hover {
    background: #5d3d0c;
    color: #fff;
}