<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image⁄x-icon" href="img/logo2.png">
    <title>진료 과목</title>
    <link rel='stylesheet' href='./CSS/intro2.css'>
    <link rel='stylesheet' href='./CSS/header.css'>
    <link rel='stylesheet' href='./CSS/default.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header>

                <!-- 로고 부분 -->
                <div class='header-left'>
                    <a href=' index.html'>
                        <img src='img/logo2.png ' alt='logo '>

                        <span>미정이네<br>
                            <strong>동물병원</strong></span>
                    </a>
                </div>
                <!-- 메뉴 부분 -->
                <div class='header-center '>
                    <ul class=''>
                        <li class=''>
                            <a href='chart.html'>
                                <span>병원소개</span>
                                <!-- <ul class=''>
                                    <li class=''><a href=''>나와라</a></li>
                                    <li class=''><a href=''>나와라</a></li>
                                    <li class=''><a href=''>나와라</a></li>
                                </ul> -->

                            </a>
                        </li>
                        <li class=' '>
                            <a href='index_rev1.html'>
                                <span>진료예약</span>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='boardIndex.html'>
                                <span>Q & A</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 로그인 부분 -->
                <div class='header-right' id='app'>
                    <ul class=' ' v-if="!isLogin">
                        <li class=' '>
                            <a href='login.html'>
                                <h2>로그인</h2>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='register.html'>
                                <h2>회원가입</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class=' ' v-if="isLogin">
                        <li class=' '>
                            <a href="#" @click="logout">
                                <h2>로그아웃</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 0">
                            <a href='mypage.html'>
                                <h2>마이페이지</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 1">
                            <a href='Adminpage.html'>
                                <h2>관리자페이지</h2>
                            </a>
                        </li>
                    </ul>
                </div>


            </header>
            <br><br><br>


            <section class='visual'>

                <!-- advertise -->
                <div class='con'>
                    <div class='slide'>
                        <div class='title'>
                            <span>병원소개</span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class='submenu'>
                    <div class='intro'>
                        <ul>
                            <li><a href='chart.html'>왜 미정이네?</a></li>
                            <!-- <li>|</li> -->
                            <li><a href='intro.html'>의료진 소개</a></li>
                            <!-- <li>|</li> -->
                            <li><a href='intro2.html'>진료 과목</a></li>
                            <!-- <li>|</li> -->
                            <li><a href='intro3.html'>찾아오시는 길</a></li>
                            <!-- <li>|</li> -->
                        </ul>
                    </div>
                </div>
                <br><br><br>
                <div id='doctors'>
                    <div class='doctors'>
                        <div class='bor'>
                            <ul>
                                <li>
                                    <a href='javascript:;' @click='onclick(0)'>내과
                                        <span></span>
                                    </a>
                                </li>
                                <li><a href='javascript:;' @click='onclick(1)'>외과
                                        <span></span>
                                    </a>
                                </li>
                                <li><a href='javascript:;' @click='onclick(2)'>안과
                                        <span></span>
                                    </a>
                                </li>
                                <li><a href='javascript:;' @click='onclick(3)'>고양이과
                                        <span></span>
                                    </a>
                                </li>
                                <li><a href='javascript:;' @click='onclick(4)'>영상의학과
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class='content'>
                        <div class='table' v-if="doctor == 0">
                            <table>
                                <tr>
                                    <th>

                                    </th>
                                    <td class='tdnone'></td>
                                    <td class='tduse'>
                                        <ul class='spec'>
                                            <li>내과 소개</li>
                                            <span>
                                                아픈 곳을 직접 설명하고 표현하지 못하는 반려 동물의 특성 상 겉으로 드러나지 않는 내과 질환은 환자에 대한 정확한 이해와
                                                진단이<br>
                                                있어야 최상의 치료를 할 수 있습니다. 치료 계획의 수립 이 후에는 적절한 장기적 모니터링을 통해 환자의 임상 증상을
                                                최소화하고<br>
                                                삶의 질을 개선하는 것을 목표로 합니다.
                                            </span>
                                            <li>진료과목 안내</li>
                                            <span>
                                                비뇨/생식기 내과<br>
                                                내분기 내과<br>
                                                호흡기 내과<br>
                                                소화기 내과<br>
                                                면역질환 내과<br>
                                                감염 내과<br>

                                            </span>

                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class='table' v-if="doctor == 1">
                            <table>
                                <tr>
                                    <th>

                                    </th>
                                    <td class='tdnone'></td>
                                    <td class='tduse'>
                                        <ul class='spec'>
                                            <li>비뇨기계 외과</li>
                                            <span>
                                                일반외과의 비뇨기계는 신장(콩팥), 요관, 방광, 요도 등으로 구성되어 있습니다.<br>
모든 비뇨기계에 결석이 발생 할 수 있으며 그 중에 방광 결석 제거 수술은 동물병원에서 가장 많이 시행되는 일반외과 수술 중에 하나입니다.<br>
각 비뇨기계의 결석 제거 외에도 수신증 (Hydronephrosis) 으로 인하여 편측 신장을 제거하는 신장제거 수술이 있으며, 신장, 요관, 방광, 요도, 모든 비뇨기계에 종양이 발생할 수 있습니다.
6~7세 이상의 노령견/노령묘에서 비뇨기계 건강검진이 필요합니다.
                                            </span>
                                            <br>
                                            <li>소화기 외과</li>
                                            <span>
                                                일반외과의 소화기계는 구강, 식도, 위, 소장, 대장, 항문, 간, 담낭 등으로 구성됩니다.<br>
구강 부위는 침샘 낭종, 구개열 수술, 위, 소장 부위는 이물 수술, 간의 종양, 담낭의 점액 낭종 등의 수술이 있으며, 소화기계의 가장 많은 수술은 식도, 위, 소장 부위의 이물 수술입니다.<br>
위, 소장, 대장, 간, 담낭 등의 모든 소화기에 노령견에서 종양이 발생하고 있습니다.<br>
소화기계의 치료는 이물, 종양의 제거를 위한 수술적인 치료가 진행됩니다.<br>
                                            </span>
                                            <br>
                                            <li>종양 외과</li>
                                            <span>
                                                일반외과에서 종양이 발생하는 부위는 비뇨기, 소화기, 생식기, 피부 등 모든 신체 부위에서 종양이 발생할 수 있습니다.<br>
종양의 치료는 내과적으로 항암제를 이용한 약물치료와 수술적인 제거로 가능합니다.<br>
반려견이 식욕 감소, 원인 모를 체중 감소, 구토, 설사 등의 소화기 증상, 기력 저하 등을 보인다면 종양을 의심해 볼 수 있습니다. <br>6~7 이상의 반려견 이라면 년 1회 정기적인 종합 검진을 받아서 종양의 조기 발견과 빠른 치료를 받을 수 있도록 하는 것이 바람직합니다.
                                            </span>
                                            <br>
                                            <li>호흡기 외과</li>
                                            <span>
                                                반려견의 호흡기는 코, 비강, 기관, 기관지, 폐 등으로 구성됩니다.<br>
콧구멍 협착의 교정 수술, 연구개 노장의 교정 수술이 반려동물에게 많이 시행되는 호흡기 수술입니다.<br>
기관허탈 환자의 경우 증상이 가벼운 경우는 약물 치료로도 관리가 가능하지만 중증의 기관허탈 환자에서는 수술적인 교정이 필요합니다. 기관내 스텐트 삽입을 통하여 중증의 기관허탈 환자를 효과적으로 치료할 수 있습니다. 그 외에도 폐의 염전 (Lung lobe torsion) 시에 폐의 절제 수술을 할 수 있습니다.<br>
                                            </span>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class='table' v-if="doctor == 2">
                            <table>
                                <tr>
                                    <th>

                                    </th>
                                    <td class='tdnone'></td>
                                    <td class='tduse'>
                                        <ul class='spec'>
                                            <li>각막 질환</li>
                                            <span>
                                                안구의 가장 바깥부분에 위치하고 있는 각막은 견종에 따라 약 0.5~0.8mm 두께이며, 건강할 경우 투명한 구조로 유지되며 가장 중요한 구조물 중에 하나이므로 통증에 매우 민감하게 반응하도록 신경분포가 되어 있습니다. 각막 발생하는 질환은 각막염, 가벼운 각막 궤양, 깊은 각막 궤양, 데스메막류, 각막 천공, SCCED (Spontaneous chronic corneal epithelial defects) 등으로 다양합니다.<br>
                                                 각막궤양은 반려동물 안과 질환 중 가장 많은 내원 이유로 꼽히고 있습니다. 시츄, 페키니즈와 같은 단두종에서 특히나 각막궤양이 많이 발생하고 있으며, 2차 감염이나 추가적인 각막 손상이 발생하기 이전에 조기에 진단하고 치료하는 것이 중요합니다.<br>
                                            </span>
                                            <br>
                                            <li>고양이 안과 질환</li>
                                            <span>
                                                고양이의 안과 질환은 감염에 의한 각막 및 결막 손상, 외상에 의한 각막 궤양, 각막 천공, 안구 돌출, 장기간의 포도막염에 의한 백내장, 망막 분리 등이 있습니다. 바이러스성 전염병에 이환된 경우 호흡기 증상이 동반되기도 합니다. 허피스 바이러스 감염은 심한 경우 결막 부종으로 인해 각막 유착에 이를 수 있으며 제때 치료하지 않는다면 실명의 위험도 있습니다.
                                            </span>
                                            <br>
                                            <li>녹내장</li>
                                            <span>
                                                녹내장은 여러 가지 원인 (선천적, 후천적)에 의해 안압이 상승하고 이로 인해 망막 신경절 세포 (retinal ganglion cell; RGC)의 손상을 동반한 시신경 손상을 특징으로 하는 안과 질병입니다.  녹내장시에 증상은 심한 충혈, 동공의 산대, 각막이 뿌옇게 보이고, 시력 저하, 통증을 호소합니다. 여러 위험 인자 중 안압 상승 (30 mmHg 이상)이 가장 중요하며, 약물 혹은 수술적인 방법으로 치료가 가능합니다.
                                            </span>
                                            <br>
                                            <li>망막 질환</li>
                                            <span>
                                                망막은 각막, 수정체 등을 통과한 물체의 상이 맺히고, 그 정보를 뇌에 전달하는 안구 구조물이며, 시력을 유지하는 매우 중요한 역할을 하게 됩니다. 반려동물의 망막 질환으로는 망막의 박리, 진행성 망막위축증, 시신경염, SARD (Sudden Aquired Reninal Disease) 등이 있으며, 치료가 어려우며 시력을 잃는 경우가 많습니다. 망막의 치료는 약물치료, 망막박리의 경우 레이져를 이용한 수술적인 치료가 가능합니다.
                                            </span>

                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class='table' v-if="doctor == 3">
                            <table>
                                <tr>
                                    <th>

                                    </th>
                                    <td class='tdnone'></td>
                                    <td class='tduse'>
                                        <ul class='spec'>
                                            <li>고양이과 소개</li>
                                            <span>
                                                개원 이래 고양이 진료를 특화하여 진료 케이스의 약 40%를 차지하는 고양이 진료를 꾸준히 이어가고 있으며
전반적인 고양이 진료에 대한 특화된 노하우를 바탕으로 전문적인 고양이 진료에 매진하고 있습니다.

고양이 친화적인 의료진이 다수 포진하여 고양이들의 스트레스를 최소화하기 위해 노력하며
지속적인 교육과 세미나를 통해 의료진의 수준을 한층 높이고 있습니다.

- 최신 혈액 검사 기기, 최신 초음파 및 CT 촬영 등 첨단 검사 기구를 보유하여 보다 정확한 진단을 추구합니다.
- 고양이 대기실, 진료실 및 처치실, 입원실 및 호텔을 별도로 마련하여 고양이와 보호자의 스트레스를 최소화하고 있습니다.
- 고양이 보호소와 유기묘 아이들의 진료 및 봉사활동을 꾸준히 이어가며 반려동물의 복지를 위해 노력하고 있습니다.
- 최고를 추구하며 노력하는 의료진, 고양이의 매력을 알고 사랑하는 의료진이 있습니다.
                                            </span>
                                            <li>진료과목 안내</li>
                                            <span>
                                                고양이 전염병<br>
                                                고양이 이비인후과<br>
                                                고양이 흉강 질환<br>
                                                고양이 소화기 질환<br>
                                                고양이 피부과<br>
                                                고양이 신장비뇨기과<br>

                                            </span>

                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class='table' v-if="doctor == 4">
                            <table>
                                <tr>
                                    <th>

                                    </th>
                                    <td class='tdnone'></td>
                                    <td class='tduse'>
                                        <ul class='spec'>
                                            <li>영상의학과 소개</li>
                                            <span>
                                                엑스레이, 초음파, CT 등의 첨단 장비를 이용하여 획득한 신체의 영상을 통해 보다 정확하게 환자의 상태를 진단하며, 조직 채취 및 천자 등 보다 적극적인 치료 과정에도 관여합니다.
                                            </span>
                                            <li>진료과목 안내</li>
                                            <span>
                                                X-ray<br>
                                                초음파 검사 (GE logiq S8)<br>
                                                CT (computed tomography) (GE light speed plus)<br>
                                                

                                            </span>

                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <footer include-html='./source/footer.html'></footer>
        </div>
    </div>


    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                isLogin: false
            },
            mounted() {
                if (localStorage.getItem("animal_login") != null) {
                    this.isLogin = true;
                }
            },
            methods: {
                logout() {
                    let con_logout = confirm("로그아웃 하시겠습니까");
                    if (con_logout) {
                        localStorage.removeItem("info");
                        localStorage.removeItem("animal_name");
                        localStorage.removeItem("animal_login");
                        localStorage.removeItem("animal_admin");
                        localStorage.removeItem("onceRev");
                        location.reload(true);
                    }
                }
            }
        });
        new Vue({
            el: "#doctors",
            data: {
                doctor: 0
            },
            methods: {
                onclick(doctor) {
                    this.doctor = doctor;
                }
            }
        });
    </script>
</body>
<script>
    includeHTML();
</script>


</html>