<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='./WEB-INF/lib/main.js'></script>
    <link href='./WEB-INF/lib/main.css' rel='stylesheet' />
    <link rel='stylesheet' href='./CSS/rev_css.css'>
    <link rel='stylesheet' href='./CSS/default_copy.css'>
    <link rel='stylesheet' href='./CSS/intro.css'>
    <link rel='stylesheet' href='./CSS/header.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class='inner-wrapper'>
            <header class="header">
                <!-- 로고 부분 -->
                <div class='header-left'>
                    <a href=' index.html'>
                        <img src='img/logo.png ' alt='logo '>
                    </a>
                </div>
                <!-- 메뉴 부분 -->
                <div class='header-center '>
                    <ul class=''>
                        <li class=''>
                            <a href='intro.html'>
                                <span>병원소개</span>
                                <!-- <ul class=''>
                        <li class=''><a href=''>나와라</a></li>
                        <li class=''><a href=''>나와라</a></li>
                        <li class=''><a href=''>나와라</a></li>
                    </ul> -->
                            </a>
                        </li>
                        <li class=' '>
                            <a href='index_rev1.html'>
                                <span>진료예약</span>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='boardIndex.html'>
                                <span>Q & A</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 로그인 부분 -->
                <div class='header-right' id='loginapp'>
                    <ul class=' ' v-if="!isLogin">
                        <li class=' '>
                            <a href='login.html'>
                                <h2>로그인</h2>
                            </a>
                        </li>
                        <li class=' '>
                            <a href='register.html'>
                                <h2>회원가입</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class=' ' v-if="isLogin">
                        <li class=' '>
                            <a href="#" @click="logout">
                                <h2>로그아웃</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 0">
                            <a href='mypage.html'>
                                <h2>마이페이지</h2>
                            </a>
                        </li>
                        <li class=' ' v-if="localStorage.getItem('animal_admin') == 1">
                            <a href='Adminpage.html'>
                                <h2>관리자페이지</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <div id="app">

                <table class="type05" v-if="info">
                    <thead>
                        <h2 style="text-align: center;">예약 상세조회</h2>
                    </thead>
                    <tr>
                        <th scope="row">예약날짜</th>
                        <td>{{info.revDate}}</td>
                    </tr>
                    <tr>
                        <th scope="row">진료 동물</th>
                        <td>{{info.revAnimalType}}</td>
                    </tr>
                    <tr>
                        <th scope="row">담당의사</th>
                        <td>{{info.revDoctor}}</td>
                    </tr>
                    <tr>
                        <th scope="row">증상</th>
                        <td>{{info.revComment}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><button id="button" type="button" @click="cancelReservation">예약 취소</button></td>
                    </tr>
                </table>
                <div v-else>
                    <h2>예약 내역이 없습니다.</h2>
                </div>
                <button id="custExit" type="button" @click="dropCustomer">회원 탈퇴</button>
            </div>
            <footer include-html='./source/footer.html'>
            </footer>
        </div>
    </div>
    <script>
        let navapp = new Vue({
            el: "#loginapp",
            data: {
                isLogin: false
            },
            mounted() {
                if (localStorage.getItem("animal_login") != null) {
                    this.isLogin = true;
                }
            },
            methods: {
                logout() {
                    let con_logout = confirm("로그아웃 하시겠습니까");
                    if (con_logout) {
                        localStorage.removeItem("info");
                        localStorage.removeItem("animal_name");
                        localStorage.removeItem("animal_login");
                        localStorage.removeItem("animal_admin");
                        location.href = "index.html";
                    }
                }
            }
        });
        let id = localStorage.getItem("animal_login");
        console.log(id);
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    info: [],
                    custId: id,
                    loading: true,
                    errored: false
                }
            },
            mounted() {
                axios
                    .get("http://localhost:7000/mijung/getReservation/" + id)
                    .then(response => {
                        this.info = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                dropCustomer() {
                    let con_drop = confirm("정말 탈퇴하시겠습니까");
                    if (con_drop) {
                        axios
                            .delete("http://localhost:7000/mijung/cancelReservation/" + id)
                            .then(() => {
                                localStorage.removeItem("onceRev");
                            })
                            .catch(e => {
                                console.log(e);
                                this.errored = true;
                            })
                            .finally(() => {
                                this.loading = false;
                            }),
                            axios
                            .delete("http://localhost:7000/mijung/dropCustomer/" + id)
                            .then(() => {
                                alert("탈퇴하셨습니다.");
                                localStorage.removeItem("info");
                                localStorage.removeItem("animal_login");
                                localStorage.removeItem("animal_admin");
                                location.href = "index.html";
                            })
                            .catch(e => {
                                console.log(e);
                                this.errored = true;
                            })
                            .finally(() => {
                                this.loading = false;
                            })
                    }
                },
                cancelReservation() {
                    let con_cancel = confirm("예약을 취소하시겠습니까")
                    if (con_cancel) {
                        axios
                            .delete("http://localhost:7000/mijung/cancelReservation/" + id)
                            .then(() => {
                                alert("예약을 취소하였습니다");
                                location.reload(true);
                                localStorage.removeItem("onceRev");
                            })
                            .catch(e => {
                                console.log(e);
                                this.errored = true;
                            })
                            .finally(() => {
                                this.loading = false;
                            })
                    }
                }

            },
        })
    </script>
</body>

</html>