<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel='stylesheet' href='./CSS/default.css'>
    <link rel='stylesheet' href='./CSS/intro.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./source/includeHTML.js"></script>
    <script src="./source/isLogin.js"></script>

    <body>
        <div id="app">
            <form action="#" method="POST" @submit.prevent="register">
                <table>
                    <tr>
                        <th>아이디(이메일)</th>
                        <td><input type="email" name="custId" id="custId" v-model="custId" placeholder="ex) abc@abc.com" @blur="idCheck" /></td>
                        <td><span v-if="custIdCheck">이미 사용중인 아이디입니다</span></td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td><input type="password" name="custPassword1" id="custPassword1" v-model="custPassword1" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td><input type="password" name="custPassword2" id="custPassword2" v-model="custPassword2" @keyup="pwCheck" /></td>
                        <td><span v-if="!custPwCheck">비밀번호가 일치하지 않습니다.</span></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" name="custName" id="custName" v-model="custName" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td><input type="tel" name="custPhone" id="custPhone" v-model="custPhone"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 50px; text-align: center;">
                            <button type="submit" name="button" :disabled="custIdCheck||!custPwCheck">회원가입</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script>
            let app = new Vue({
                el: '#app',
                data() {
                    return {
                        loading: true,
                        errored: false,
                        custId: "",
                        custPassword1: "",
                        custPassword2: "",
                        custName: "",
                        custPhone: "",
                        custIdCheck: false,
                        custPwCheck: true
                    }
                },
                methods: {
                    register() {
                        if (this.custId == "") {
                            alert("아이디를 입력하세요");
                            return;
                        }
                        if (this.custPassword == "") {
                            alert("비밀번호를 입력하세요");
                            return;
                        }
                        axios
                            .post("http://localhost:7000/mijung/register", {
                                custId: this.custId,
                                custPassword: this.custPassword1,
                                custName: this.custName,
                                custPhone: this.custPhone
                            })
                            .then(response => {
                                alert(`${app.custName} 님이 가입하였습니다.`);
                                location.href = "index.html"
                            })
                            .catch(error => {
                                console.log(error);
                                this.errored = true
                            })
                            .finally(() => this.loading = false)
                    },
                    idCheck() {
                        axios
                            .get("http://localhost:7000/mijung/idCheck/" + this.custId)
                            .then(response => (this.custIdCheck = response.data))
                            .catch(error => {
                                console.log(error);
                                this.errored = true
                            })
                            .finally(() => this.empEmpty = false)
                    },
                    pwCheck() {
                        console.log("aa");
                        if (this.custPassword1 != this.custPassword2) {
                            this.custPwCheck = false;
                        } else {
                            this.custPwCheck = true;
                        }
                    }

                }
            });
        </script>
    </body>

</html>