/*---------- Header ----------*/


/* fix-navi */

.fix-navi {
    position: fixed;
    bottom: 147px;
    right: 20px;
    z-index: 999
}

.fix-navi ul {
    margin: 0
}

.fix-navi ul li {
    margin-top: 5px
}

.fix-navi ul li a {
    display: block;
    width: 120px;
    height: 60px;
    text-align: center;
    background: #363636;
    color: #fff;
}


/* fix-navi text align */

.fix-navi ul li a i {
    line-height: 30px;
    font-size: 22px;
}

.fix-navi ul li a span {
    display: block;
    line-height: 60px;
    font-size: 15px
}


/* header layout */

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9)
}

.header-left {
    float: left;
    width: 30%
}

.header-center {
    float: left;
    width: 40%
}

.header-right {
    float: right;
    width: 30%
}


/* header logo */

.header-logo {
    padding-left: 30px;
    overflow: hidden;
    margin: 20px 0
}

.header-logo a {
    float: left;
    height: 35px
}

.header-logo span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #1b1b1b;
    font-weight: 300;
}

.header-logo span strong {
    color: #dc5f0d;
}

.header-logo img {
    display: block;
    max-height: 35px;
    width: auto;
    padding-right: 30px;
}


/* 상단 메뉴바 디자인 */

.header-nav {
    position: relative
}

.sidebar .sidebar-left-content h3 {
    display: none
}

.header-nav .navbar {
    margin-bottom: 0;
    border: 0 none
}


/* 병원안내, 진료예약, Q&A 전체 위치 조절 */

.header-nav .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* 병원안내, 진료예약, Q&A 간 거리 */

.header-nav .navbar-nav>li {
    float: none;
    position: relative;
    padding: 0 60px;
}


/* 병원안내, 진료예약, Q&A 높이 */

.header-nav .navbar-nav>li>a {
    padding: 0;
    line-height: 75px;
    font-size: 18px;
    font-weight: 700;
    text-align: center
}


/* 병원안내, 진료예약, Q&A 글씨 색 */

.header-nav .navbar-nav>li>a:hover,
.header-nav .navbar-nav>li.open>a {
    color: #343434;
    background: none
}


/* 병원안내, 진료예약 Q&A 아래 줄 */

.header-nav .navbar-nav>li>a:after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #343434;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}


/* 병원안내, 진료예약 Q&A 아래 줄 위치 */

.header-nav .navbar-nav>li>a:hover:after,
.header-nav .navbar-nav>li.open>a:after,
.header-nav .navbar-nav>li.active>a:after {
    opacity: 1;
    top: 58px;
    height: 2px
}


/* 병원안내, 진료예약, Q&A 드롭다운 배경 색 */

.header-nav .navbar-nav>li>ul {
    display: block !important;
    left: 0%;
    padding: 0;
    border: 0;
    width: 100%;
    text-align: center;
    background: #404040;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg) translateX(-30%);
    /* 애니메이션 */
    transition: transform .35s ease;
    box-shadow: 0 0 0 #fff
}


/* 병원안내, 진료예약, Q&A 드롭다운 위치 조절 */

.header-nav .navbar-nav>li.open>ul {
    transform: rotateX(0) translateX(-15%);
}


/* 병원안내, 진료예약, Q&A 드롭다운 관련  */

.header-nav .navbar-nav>li ul li {
    position: relative
}


/* 병원안내, 진료예약, Q&A 드롭다운 아래 줄 */

.header-nav .navbar-nav>li ul li a {
    height: 50px;
    padding: 15px 5px;
    color: #ddd;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 13px
}

.header-nav .navbar {
    min-height: auto;
    margin-bottom: 0
}


/* 병원안내, 진료예약, Q&A 마진  */

.header-nav .navbar-nav {
    position: relative;
    margin: 0;
    float: none
}


/* 병원안내, 진료예약, Q&A 드롭다운 글씨 크기 */

.header-nav .navbar-nav .dropdown .dropdown-submenu>a {
    font-size: 15px
}


/* 병원안내, 진료예약, Q&A 드롭다운 글씨 색 */

.header-nav .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    border-top: 1px solid #e5e5e5
}


/* 로그인, 회원가입 부분  */

.top-bar-list {
    display: flex;
    justify-content: flex-end
}

.top-bar-list>li>a {
    display: block;
    width: 65px;
    height: 75px;
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #5d3d0c
}

.top-bar-list>li:last-child>a {
    border-right: 0 none
}

.top-bar-list>li>a i {
    display: block;
    margin-bottom: 2px;
    font-size: 18px
}

.top-bar-list>li>a span {
    font-size: 10px
}

.top-bar-list>li>a:hover {
    background: #5d3d0c;
    color: #fff;
}

.top-bar-list>li.mobile-nav-trigger {
    display: none
}