<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">



<insert id="addBoard" parameterType="board">
	INSERT board
	(bd_title, bd_content, bd_view, bd_is_Secret, cust_id)
	VALUES (#{bdTitle}, #{bdContent},#{bdView},#{bdIsSecret},#{custId})
</insert>

<update id="updateBoard" parameterType="board">
	UPDATE board
	SET bd_title=#{bdTitle}, bd_content=#{bdContent}, bd_is_Secret=#{bdIsSecret}
	WHERE bd_ID=#{bdID}, cust_id=#{custId}
</update>

<delete id="deleteBoard" parameterType="int">
	DELETE FROM board
	WHERE bd_ID=#{bdID}
</delete>

<update id="replyBoard" parameterType="board">
	UPDATE board
	SET bd_Reply=#{bdReply}
	WHERE bd_ID=#{bdID}
</update>

<select id="findView" parameterType="int" resultType="board">
	SELECT bd_View FROM board
	WHERE bd_ID=#{bdID}
</select>

<select id="getAllBoard" resultType="board">
	SELECT bd_ID, bd_title, bd_content, bd_view, bd_Date, bd_is_Secret, bd_Reply, cust_id
	FROM board
</select>

<select id="getBoard" parameterType="int" resultType="board">
	SELECT bd_ID, bd_title, bd_content, bd_view, bd_Date, bd_is_Secret, bd_Reply, cust_id
	FROM board
	WHERE bd_ID=#{bdID}
</select>

</mapper>
	